.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

}

.p1{
    color: white;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.landingpage{
    background: linear-gradient(to right,  #ff9a9e, 
    #fad0c4, 
    #fbc2eb, 
    #a1c4fd,
    #c2e9fb, 
    #d4fc79, 
    #96e6a1 
  );
}

.navbar {
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    transition: font-size 0.2s;
}

.navbar:hover{
    transform: scale(1.2);
}

